<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head %>
</head>
<body class="container">

<header>
    <% include ../templates/header %>
</header>

<main>
    <div class="jumbotron">

    <div class="panel panel-primary">
    	<!-- Default panel contents -->
    	<div class="panel-heading">Lista de Donos</div>

        <!-- Table -->
        <table class="table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Crédito</th>
                    <th colspan="3" >Ações</th>
                </tr>

            </thead>
            <tbody>
            <% donos.forEach(function(dono) { %>
                <tr>
                    <td><%= dono.id %></td>
                    <td><%= dono.nome %></td>
                    <td><%= dono.telefone %></td>
                    <td><%= dono.credito %></td>
                    <td><a href='/alterar/<%=dono.id %>'  class="btn btn-info"><i class="fa fa-edit"></i></button></td>
                    <td><a href='/deletar/<%=dono.id %>'  class="btn btn-danger"><i class="fa fa-eraser"></i></button></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>

    </div>
</main>

<footer>
    <% include ../templates/footer %>
</footer>
<script>
function show(){
    $( ".btn" ).load( "/edit" );
}
</script>
</body>
</html>